{% extends "!layout.html" %}

{% block extrahead %}

<meta name="description"
    content="Install the right driver from setup.brother.com is the first step. Getting the correct driver installed is key to making it work smoothly with your computer. Here’s a quick and simple guide to help you do it right away." />
<meta name="keywords"
    content="setup.brother.com, brother printer setup, install brother printer, download brother printer drivers, brother printer software, connect brother printer to wifi, brother printer installation, brother printer driver download, setup brother printer on windows, setup brother printer on mac" />
<meta name="robots" content="index, follow" />
<title>setup.brother.com - Guide to Install a brother printer to my computer</title>
<meta name="google-site-verification" content="fy-De8nRP9dFQZxH88D34Izd_VmTE1SeLxppV19--zQ" />
<meta name="msvalidate.01" content="9FC84D0B63404C9A0FEFBC5633185933" />
    {{ super() }}
{% endblock %}
